html {
    font-family: "Google Sans Flex", sans-serif;
    background-image: url('images/life.png');
}

h1 {
    font-size: 150px;
    text-align: center;
    text-shadow: black 4px 4px 4px;
    color: rgb(255, 255, 255);
    text-decoration: wavy underline;
}

h2 {
    color: white;
    text-shadow: black 5px 5px 10px;
    font-size: 100px;
}

#links {
    text-align: center;
    font-size: 50px;
    text-shadow: rgb(255, 255, 255) 0px 0px 10px;
    border: solid rgb(255, 255, 255) 5px;
}

.link {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}